:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
}

.question-active {
  font-weight: bold;
}

.answer {
  display: none;
}

.answer-active {
  display: unset;
}

.arrow-to-top {
  transform: rotate(180deg);
  transition: 0.3s;
}
